*/
*.
.viminfo
.zsh_history
.zsh-update
AndroidStudioProjects
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
ROM
backup
company rules
gitTest
headsetSDCard
install
myResource
nfs
progit
sdk
svnTest
test
tmp
xiaoming.20151226.1236
百度云同步盘
.lesshst
